Script | Action | Expected result | Actual result
--- | --- | --- | ---
Opening of main page |  |  | 
Browsing news using numbers of pages |  |  | 
Opening full news page |  |  |  
Login in using correct data |  |  | 
Impossibility to log in using incorrect date |  |  | 
Logging out |  |  | 
Adding news |  |  | 
Deleting news |  |  | 
Possibility to add news from drafts |  |  | 
